/* font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;
/*

/*Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343 /*

/*
*/

body {
  background-color: #F2F1E8;
}

h1, h2 {
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
}


.menu > ul {
  display: flex;
  justify-content: space-around;
  width: 500%;
  color: #2B2F26;
}

li > a {
  color: #2B2F26;
  text-decoration: none;
}

section {
  display: flex;
}

.module1, .module2, .module3, .module4, .module5, .module6, .module7 > img {
  background-size: cover;
  position: absolute;
  width: inherit;
  height: auto;
  display: flex;
  overflow: hidden;

}

.module1 {
  width: 60%;
}

.module1, .module2 {
  width: 20%;
}

.module4, .module5, .module7 {
  width: 20%;
}

.module6 {
  width: 40%;
}





h3 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.75);
  padding: 4px 8px;
  color: #F2F1E8;
  margin: 0;
  font: 14px Sans-Serif;

}

/*ABOUT PAGE CSS/*
*/
.About {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.RTG {
  margin: 10px;
  width: 120%;
  height: 100px;
  background: url(/Users/shaunhailey/documents/week-one-project/optimized/background-3.jpg);
  background-size: cover;
  position: relative;

}
h4 {
  padding: 40px 50px;
  color: #F2F1E8;
  margin: 0;
  font: 28px Sans-Serif;
}

.aside {
  display: flex;
  flex-direction: column;
}

.aside > img {
  width: 200px;
  height: 200px;
}

.aboutaside {
  float: right;
  width: 200px;
  height: 200px;

}

.FacBox {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}

.FacBox > p {
  width: 50%;
}

.Facilities {
text-align: left;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
}

th {
  background: white;
}

tbody tr:nth-child(even) {
  background: white;
}
